<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Consultas</title>
    </head>
    <body class="appointment-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand mt-2" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'temp:profile' %}">Perfil</a>
                    <a class="nav-link" href="#">Conquistas</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color: black;">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="color: black;">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'intro' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="container-fluid">
            <!-- <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;
            wkst=1&amp;
            bgcolor=%23ffffff&amp;
            ctz=America%2FSao_Paulo&amp;
            src=OHFydjZicWJrNnRtcGs0ODEwNzFqNGhmMmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
            src=cHQuYnJhemlsaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;
            src=ZW4uZHV0Y2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
            color=%23C0CA33&amp;color=%23000000&amp;
            color=%23000000&amp;
            showTz=1&amp;
            showCalendars=1" style="border:solid 1px #777" width="330" height="380" frameborder="0" scrolling="no"></iframe> -->
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>