<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Editar Perfil</title>
    </head>
    <body class="profile-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand mt-2" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link pl-3" href="{% url 'home' %}">Home</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'logout' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="container mt-4">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group form-row">
                    <div class="col-6">
                        <h6>Idade</h6>
                        {{ form.profile_age_prf }}
                    </div>
                    <div class="col-6">
                        <h6>Localização</h6>
                        {{ form.profile_loc_prf }}
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-6">
                        <h6>Peso</h6>
                        {{ form.profile_weight_prf }}
                    </div>
                    <div class="col-6">
                        <h6>Altura</h6>
                        {{ form.profile_height_prf }}
                    </div>
                </div>
                <div class="form-group">
                    <h6>Alergias</h6>
                    {{ form.profile_allergy_prf }}
                </div>
                <div class="form-group">
                    <h6>Doenças Hereditárias</h6>
                    {{ form.profile_desease_prf }}
                </div>
                <div class="form-group">
                    <h6>Dieta Específica</h6>
                    {{ form.profile_diet_prf }}
                </div>
                <div class="form-group">
                    <h6>Cirurgias</h6>
                    {{ form.profile_surgery_prf }}
                </div>
                <div class="form-group">
                    <h6>Prática de Exercícios</h6>
                    {{ form.profile_exerc_prf }}
                </div>
                {{form.errors}}
                <div class="form-row justify-content-center mb-3">
                    <button type="submit" class="btn btn-primary col-5">Salvar</button>
                    <span style="width: 35px"></span>
                    <button type='reset' class="btn btn-primary col-5">Limpar</button>
                </div>
            </form>
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>