<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Exercício</title>
    </head>
    <body class="exercise-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'temp:profile' %}">Perfil</a>
                    <a class="nav-link" href="{% url 'temp:achievements' %}">Conquistas</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'intro' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="container-fluid">
            <div class="card card-exercise mt-3" id="card-opacity">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link nav-exerc active" data-toggle="tab" href="#run"><img class="img-exercise" src="{% static 'images/run.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-exerc" data-toggle="tab" href="#walk"><img class="img-exercise" src="{% static 'images/walk.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-exerc" data-toggle="tab" href="#cycle"><img class="img-exercise" src="{% static 'images/bike.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-exerc" data-toggle="tab" href="#hike"><img class="img-exercise" src="{% static 'images/hiking.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-exerc" data-toggle="tab" href="#swim"><img class="img-exercise" src="{% static 'images/swim.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-exerc" data-toggle="tab" href="#gym"><img class="img-exercise" src="{% static 'images/gym.png' %}"></a>
                    </li>
                </ul>

                
                <div class="container mt-2">
                    <h4><span class="badge badge-exerc">Tempo de Duração</span></h4>
                </div>
                <div class="container mt-2">
                    <div class="row col-12 justify-content-center" id="duration">
                        <input id="timerhour" class="ml-4 col-3"><h3 class="mr-2 ml-2">:</h3><input id="timerminute" class="mr-1 col-3">
                    </div>
                    <div><p>HH --- MM</p></div>
                </div>
                <div class="row justify-content-center">
                    <div class="btn btn-outline-info mb-4 col-6 pt-0 pb-0" id="startrun">Iniciar</div>
                </div>
            </div>
                        
            <div class="card card-exercise1 mt-4 mb-3" id="card-opacity">
                <div class="overflow-auto">
                    <div class="container-fluid mt-3">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in show active" id="run">
                                <div class="alert alert-info pt-0 pb-0">Corrida</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="walk">
                                <div class="alert alert-info pt-0 pb-0">Caminhada</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="cycle">
                                <div class="alert alert-info pt-0 pb-0">Ciclismo</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="hike">
                                <div class="alert alert-info pt-0 pb-0">Trilha</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="swim">
                                <div class="alert alert-info pt-0 pb-0">Natação</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="gym">
                                <div class="alert alert-info pt-0 pb-0">Musculação</div>
                            </div>

                            <div class="rest-time">Tempo Restante</div>
                            <div><p class="mb-1 cronom" id="timer-run">00 : 00 : 00</p></div>
                            <div class="row pt-2">
                                <div class="col-6 pl-3"><p class="calory" id="calories-run"><img class="pr-2" src="{% static 'images/calories.png' %}">0</p></div>
                                <div class="col-6 pr-4"><p class="kilometer" id="kilometers-run"><img class="pr-2" id="myImage" src="{% static 'images/speed.png' %}">0</p></div>
                            </div>
                            <div class="row pt-0">
                                <div class="col-6"><p>Calorias</p></div>
                                <div class="col-6 pr-4"><p>Km/h</p></div>
                            </div>
                            <div class="row mb-4 justify-content-center">
                                <button class="btn btn-outline-success pause pt-0 pb-0" id="pause-run">Pausar</button>
                                <span style="width: 15px"></span>
                                <button class="btn btn-outline-success continue pt-0 pb-0" id="resume-run">Continuar</button>
                                <span style="width: 15px"></span>
                                <button class="btn btn-outline-danger finish pt-0 pb-0" id="finish-run">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            var timerrun = document.getElementById("timer-run");
            var caloryrun = document.getElementById("calories-run");
            var kilometerrun = document.getElementById("kilometers-run")
            var startrun = document.getElementById("startrun");
            var pauserun = document.getElementById("pause-run");
            var resumerun = document.getElementById("resume-run");
            var finishrun = document.getElementById("finish-run");
            var idrun;
            var valuerun = "00 : 00 : 00";
            var value2run = "0";
            var value3run = "0";
            
            function startTimer(Hrun, Mrun, Srun, Crun=0, Krun) {
                timerrun.textContent = Hrun + " : " + Mrun + " : " + Srun;
                caloryrun.textContent = Math.floor(Crun);
                kilometerrun.textContent = Krun;
                if(Hrun == 0 && Mrun == 0 && Srun == 0){
                    finishTimer.clearTimeout();
                }
                Crun = Crun + 0.15; // Calories waste calculus when running.
                Srun --;
                Krun = 4.8;
                if(Srun == -1){
                    Srun = 59;
                    Mrun--;
                    if(Mrun == -1){
                        Mrun = 0;
                        Hrun--;
                    }
                }
                idrun = setTimeout(function () {
                    startTimer(Hrun, Mrun, Srun, Crun, Krun)
                }, 1000);
            }
            
            function pauseTimer() {
                valuerun = timerrun.textContent;
                value2run = caloryrun.textContent;
                value3run = kilometerrun.textContent;
                clearTimeout(idrun);
            }

            function resumeTimer() {
                var t = valuerun.split(" : ");
                var c = value2run;
                var k = value3run;
                startTimer(parseInt(t[0], 10), 
                parseInt(t[1], 10), 
                parseInt(t[2], 10), 
                parseInt(c[0], 10),
                parseInt(k[0], 10));
            }

            startrun.addEventListener("click", function () {
                startTimer(document.getElementById("timerhour").value,
                document.getElementById("timerminute").value,0,
                document.getElementById("calories-run").value2run,
                document.getElementById("kilometers-run").value3run);
            }, false);

            function finishTimer() {
                valuerun = timerrun.textContent;
                value2run = caloryrun.textContent;
                value3run = kilometerrun.textContent;
                clearTimeout(idrun);
            }

            pauserun.addEventListener("click", pauseTimer, false);
            resumerun.addEventListener("click", resumeTimer, false);
            finishrun.addEventListener("click", finishTimer, false);
        </script>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>
