<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Esqueci a Senha</title>
    </head>
    <body class="forgpassword-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <ul class="navbar-nav mr-auto btn-outline-light"></ul>
            <form class="form-inline" method="POST">
                <a href="{% url 'intro' %}" class="btn btn-outline-light btn-auto"><img class="pb-1 pr-1" src="{% static 'images\return.png' %}">Voltar</a>
            </form>
        </nav>

        <section class="container container2 mt-4 pt-5 pr-5 pl-5">
            <form>
                <img src="{% static 'images/mail.png' %}">
                <h4 class="subtitle pt-3">Esqueci a senha</h4>
                <h6 class="subtitle pt-3 pb-3">Insira seu endereço de email abaixo e nós iremos te enviar o seu lembrete de senha.</h6>
                <input type="Email" class="form-control input-email" id="InputEmail" placeholder="Email" required="">
                <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn sign-up btn-outline-light mt-4" type="submit">Enviar Email</button></a>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="color: black;">Email enviado!</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <p>Uma mensagem foi enviada para o seu endereço de email com a sua senha.</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{% url 'intro' %}" type="submit">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>