<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Fengyuan Chen's Datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

        <title>Clinify | Medicamentos</title>
    </head>
    <body class="medication-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'temp:profile' %}">Perfil</a>
                    <a class="nav-link" href="{% url 'temp:achievements' %}">Conquistas</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'logout' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mt-5">
            <div class="card" id="card-opacity">
                <div class="container">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-row mt-3 mb-3"> 
                            <div class="col-8">
                                <label class="lbl2">Medicamento *</label>
                                {{form.medication_name_med}}
                            </div>
                            <div class="col-4">
                                <label class="lbl2">Dose *</label>
                                {{ form.dosis_name_med }}
                            </div>
                        </div>
                        <div class="form-row mt-4 mb-3">
                            <div class="col-6">
                                <label class="lbl2">Data Início *</label>
                                <script>
                                    $(function () {
                                      $("#datepicker").datepicker({
                                        format:'yyyy-mm-dd',
                                      });
                                    });
                                  </script>
                                {{ form.init_date_med }}
                            </div>
                            <div class="col-6">
                                <label class="lbl2">Data Fim *</label>
                                <script>
                                    $(function () {
                                    $("#datepicker1").datepicker({
                                        format:'yyyy-mm-dd',
                                      });
                                    });
                                </script>
                                {{ form.end_date_med }}
                            </div>
                        </div>
                        <div class="form-row mt-4 mb-3">
                            <div class="col-12">
                                <label class="lbl2">Hora *</label>
                                {{ form.time_med }}
                            </div>
                        </div>
                        {{form.errors}}
                    </div>
                    <div class="form-row justify-content-center mt-3 mb-4">
                        <button class="btn btn-success col-5 pt-0 pb-0" style="color: white;">Salvar</button>
                        <span style="width: 25px"></span>
                        <input type="reset" value="Limpar" class="btn btn-primary col-5 pt-0 pb-0">
                    </div>
                </form>
            </div>
            <a href="{% url 'temp:medication_list' %}" type="submit" class="btn btn-primary col-12 mt-4 pb-1">Meus Medicamentos</a>
        </section>
    {% endblock %}
    <!-- <script src="/Controller/app.js"></script>
    <script src="/sw.js"></script> -->
    </body>
</html>