<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Esqueci a Senha</title>
    </head>
    <body class="forgpassword-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <ul class="navbar-nav mr-auto btn-outline-light"></ul>
            <a class="btn btn-outline-light btn-auto"><img class="pb-1 pr-1" src="{% static 'images\return.png' %}">Voltar</button>
        </nav>

        <section class="container container2 mt-4 pt-5 pr-5 pl-5">
            <h2 class="subtitle pt-3">Desculpa, essa página ainda não foi cached :/</h2>
            <h6 class="subtitle pt-3 pb-3">Por que você não uma de nossas <a href="{% url 'intro' %}">outras páginas</a> ?</h6>
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>