<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Perfil</title>
    </head>
    <body class="profile-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand mt-2" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link pl-3" href="{% url 'home' %}">Home</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'logout' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="container-fluid">
            <div class="col-12 mt-3 mb-4">
                <div class="card" id="card-opacity">
                    <img src="{% static 'images/profile-background.jpg' %}" class="img-profile" alt="...">
                    <div class="card-body">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <h5 class="name pt-3">{{ user.first_name }} {{ user.last_name }}<a href="{% url 'temp:editprofile' pk=userprof.pk slug=userprof.slug %}"><img class="edit" src="{% static 'images/edit.png' %}"></a></h5> 
                        {% endif %}
                        <div class="row mt-3 col-sm-12 col-lg-6 profile-opt">
                            <form name="form" method="POST">
                                <div class="form-group ">
                                    <h6 class="age">Idade:  {{userprof.profile_age_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="loc">Localização:  {{userprof.profile_loc_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="weight">Peso:   {{userprof.profile_weight_prf}} Kg</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="height">Altura:   {{userprof.profile_height_prf}} cm</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="alerg">Alergias:   {{userprof.profile_allergy_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="desease">Doenças Hereditárias:   {{userprof.profile_desease_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="diet">Dieta Específica:   {{userprof.profile_diet_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="surgery">Cirurgias:   {{userprof.profile_surgery_prf}}</h6>
                                </div>
                                <div class="form-group ">
                                    <h6 class="exerc">Prática de Exercícios:   {{userprof.profile_exerc_prf}}</h6>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="overflow-auto">
                        <table class="table table-striped overflow-auto mb-5">
                            <thead>
                                <tr>
                                    <div class="alert alert-success pt-0 pb-0 col-12" style="text-align: center;">Medicamentos</div>
                                    <th>Medicamento</th>
                                    <th>Dose</th>
                                    <th>Data Início</th>
                                    <th>Data Fim</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usermed in med %}
                                <tr>
                                    <td><a href="{% url 'temp:medication_detail' pk=usermed.pk slug=usermed.slug %}">{{ usermed.medication_name_med }}</a></td>
                                    <td>{{ usermed.dosis_name_med }}</td>
                                    <td>{{ usermed.init_date_med }}</td>
                                    <td>{{ usermed.end_date_med }}</td>
                                    <td>{{ usermed.time_med }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>      
                    </div>

                    <div class="overflow-auto">
                        <table class="table table-striped overflow-auto mb-5">
                            <thead>
                                <tr>
                                    <div class="alert alert-success pt-0 pb-0 col-12" style="text-align: center;">Dieta</div>
                                    <th>Tipo</th>
                                    <th>Refeição</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for userdiet in diet %}
                                <tr>
                                    <td><a href="{% url 'temp:diet_detail' pk=userdiet.pk slug=userdiet.slug %}">{{ userdiet.meal }}</a></td>
                                    <td>{{ userdiet.diet_include }}</td>
                                    <td>{{ userdiet.diet_date_diet }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>      
                    </div>

                    <div class="overflow-auto">
                        <table class="table table-striped overflow-auto mb-5">
                            <thead>
                                <tr>
                                    <div class="alert alert-success pt-0 pb-0 col-12" style="text-align: center;">Viagens</div>
                                    <th>País(es)</th>
                                    <th>Data Início</th>
                                    <th>Data Fim</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usertrip in trip %}
                                <tr>
                                    <td><a href="{% url 'temp:trip_detail' pk=usertrip.pk slug=usertrip.slug %}">{{ usertrip.trip_country_trp }}</a></td>
                                    <td>{{ usertrip.init_date_trp }}</td>
                                    <td>{{ usertrip.end_date_trp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>      
                    </div>

                    <div class="overflow-auto">
                        <table class="table table-striped overflow-auto mb-5">
                            <thead>
                                <tr>
                                    <div class="alert alert-success pt-0 pb-0 col-12" style="text-align: center;">Consultas</div>
                                    <th>Consulta</th>
                                    <th>Nome</th>
                                    <th>Credencial</th>
                                    <th>Data</th>
                                    <th>Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for userappoint in appoint %}
                                <tr>
                                    <td><a href="{% url 'temp:appoint_detail' pk=userappoint.pk slug=userappoint.slug %}">{{ userappoint.appoint_espec_apt }}</a></td>
                                    <td>{{ userappoint.appoint_nmed_apt }}</td>
                                    <td>{{ userappoint.appoint_credenc_apt }}</td>
                                    <td>{{ userappoint.appoint_date_apt }}</td>
                                    <td>{{ userappoint.appoint_time_apt }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>      
                    </div>

                    <div class="overflow-auto">
                        <table class="table table-striped overflow-auto">
                            <thead>
                                <tr>
                                    <div class="alert alert-success pt-0 pb-0 col-12" style="text-align: center;">Vacinas</div>
                                    <th scope="col-3">Vacina</th>
                                    <th scope="col-2">Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uservac in vac %}
                                <tr>
                                    <td><a href="{% url 'temp:vaccine_detail' pk=uservac.pk slug=uservac.slug %}">{{ uservac.vaccine_name_vac }}</a></td>
                                    <td>{{ uservac.vaccine_date_vac }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>      
                    </div>
                    <a href="{% url 'temp:pdf_download' %}" type="submit" class="btn btn-success col-12 mt-4 pb-1">Exportar PDF</a>
                </div>
            </div>
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>
