<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <title>Clinify | Viagens Recentes</title>
    </head>
    <body class="stresslevel-screen">
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand mt-2" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'temp:profile' %}">Perfil</a>
                    <a class="nav-link" href="#">Conquistas</a>
                </ul>
                <form class="form-inline" method="POST">
                    <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-outline-light btn-auto">Sair<img class="pl-2" src="{% static 'images/logout.png' %}"></button></a>
                </form>
            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color: black;">Sair</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="color: black;">
                        <p>Certeza que deseja sair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <a class="btn btn-secondary" href="{% url 'logout' %}" type="submit">Sim</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="container mt-5">
            <div class="card container" id="card-opacity">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-row mt-3">
                        <div class="col-12">
                            <label class="lbl2">País(es) *</label>
                            {{ form.trip_country_trp }}
                        </div>
                    </div>
                    <div class="form-row mt-3 mb-3">
                        <div class="col-6">
                            <label class="lbl2">Date Início *</label>
                            {{ form.init_date_trp }}
                        </div>
                        <div class="col-6">
                            <label class="lbl2">Data Fim *</label>
                            {{ form.end_date_trp }}
                        </div>
                    </div>
                    {{ form.errors }}
                    <div class=" form-row justify-content-center mt-3 mb-4">
                        <button class="btn btn-success col-5 pt-0 pb-0">Salvar</button>
                        <span style="width: 25px"></span>
                        <button class="btn btn-primary col-5 pt-0 pb-0">Reset</button>
                    </div>
                </form>
            </div>
            <a href="{% url 'temp:trip_list' %}" type="submit" class="btn btn-primary col-12 mt-4 pb-1">Minhas Viagens</a>
        </section>
        {% endblock %}
        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
     