<!DOCTYPE html>
{% extends 'base.html' %}
    {% block content %}
        {% load static %}       
        <title>Clinify | Registre-se</title>
    </head>

    <body class="signup-screen">
        <!-- =============================================== NAVBAR ================================================================== -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <img class="nav-icon" src="{% static 'images\heartbeat-logo-144.png' %}">
            <a class="navbar-brand" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">Clinify</a>
            <ul class="navbar-nav mr-auto btn-outline-light"></ul>
            <form class="form-inline" method="POST">
                <a href="{% url 'intro' %}" class="btn btn-outline-light btn-auto"><img class="pb-1 pr-1" src="{% static 'images\return.png' %}">Voltar</a>
            </form>
        </nav>
        <!-- ============================================== END NAVBAR =============================================================== -->
        
        <!-- ============================================== SIGNUP INFOS ============================================================= -->
        <section class="container-fluid pb-4">
            <h4 class="pt-4 pb-4 subtitle">Registre-se</h4>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="lbl">Username</label>
                    {{ form_signup.username }}
                </div>
                <div class="form-group">
                    <label class="lbl">Nome</label>
                    {{ form_signup.first_name }}
                </div>
                <div class="form-group">
                    <label class="lbl">Sobrenome</label>
                    {{ form_signup.last_name }}
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    {{ form_signup.email }}
                </div>
        <!-- ============================================== END SIGNUP INFO ========================================================== -->

        <!-- =============================================== PROFILE INFO ============================================================ -->
                <div class="form-group form-row">
                    <div class="col-6">
                        <label class="lbl">Idade</label>
                        {{ form_profile.profile_age_prf }}
                    </div>
                
                    <div class="col-6">
                        <label class="lbl">Localização</label>
                        {{ form_profile.profile_loc_prf }}
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-6">
                        <label class="lbl">Peso</label>
                        {{ form_profile.profile_weight_prf }}
                    </div>
                    <div class="col-6">
                        <label class="lbl">Altura</label>
                        {{ form_profile.profile_height_prf }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="lbl">Alergias</label>
                    {{ form_profile.profile_allergy_prf }}
                </div>
                <div class="form-group">
                    <label class="lbl">Doenças Hereditárias</label>
                    {{ form_profile.profile_desease_prf }}
                </div>
                <div class="form-group">
                    <label class="lbl">Cirurgias</label>
                    {{ form_profile.profile_surgery_prf }}
                </div>
                <div class="form-group">
                    <label class="lbl">Dieta Específica</label>
                    {{ form_profile.profile_diet_prf }}
                </div>
                <div class="form-group">
                    <label class="lbl">Prática de Exercícios</label>
                    {{ form_profile.profile_exerc_prf }}
                </div>

                <div class="form-group">
                    <label class="lbl">Senha</label>
                    {{ form_signup.password1 }}
                </div>
                <div class="form-group">
                    <label class="lbl">Confirme a senha</label>
                    {{ form_signup.password2 }}
                </div> 
                {{ form_signup.errors }}
                <button type='submit' class="btn btn-outline-light col-12 mt-2">Registrar</button>
            </form>
        </section>
        {% endblock %}
        <!-- ============================================= END PROFILE INFO ========================================================== -->

        <!-- <script src="/Controller/app.js"></script>
        <script src="/sw.js"></script> -->
    </body>
</html>